h1 {
  text-align: center;
  color: #3F72AF;
  font-family: 'Lato', sans-serif;
}

h2 {
  color: #3F72AF;
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color:#DBE2EF;
}

ul {
  color:#DBE2EF;
}
hr {
  border-style: dotted none none;
  border-width: 8px;
  width: 5%;
  color:#DBE2EF;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Navbar {
  height: 10vh;
  background-color: #3F72AF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.NavButtons {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.NavLogo {
  height: 175px;
  width: 175px;
}

.Signup {
  justify-self: end;
}

.Details {
  text-align: left;
  padding-left: 20px;
  width: 90%;
  line-height: 2;
}

.Home-top {
  width: 100%;
  margin: auto;
  background-color:#DBE2EF;
  padding-top: 20px;
}