/*Main Section*/
h1 {
  color: #F9F7F7;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 10% 0 0 0;
}

h2 {
  color: #3F72AF;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  color:#DBE2EF;
}

ul {
  color:#DBE2EF;
}
hr {
  border-style: dotted none none;
  border-width: 8px;
  width: 5%;
  color:#DBE2EF;
}
/*Other Section*/
.App {
  text-align: center;
}

.container-fluid {
  padding: 7% 0;
}

.fields {
  margin-right: 20%;
  margin-left: 20%;
}

.home-button {
  margin: 5% 0 0 0;
}

.NavLogo {
  width: 20%;
  position: absolute;
  left: 0%;
  top: 0%;
}

.row {
  margin: 0;
  padding: 5%;
}

.site-logo {
  width: 100%;
  position: relative;
  top:-10%;
}

.title-section {
  background-color:#3F72AF;
}

