/*Main Section*/
h1 {
  color: #F9F7F7;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 10% 0 0 0;
}

h2 {
  color: #3F72AF;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color:#F9F7F7;
}

p {
  font-family: 'Montserrat', sans-serif;
  color:#DBE2EF;
  line-height: 1.5;
}

ul {
  color:#DBE2EF;
}
hr {
  border-style: dotted none none;
  border-width: 8px;
  width: 5%;
  color:#DBE2EF;
}
/*Other Section*/
.App {
  text-align: center;
}
.card-text {
  color: black;
}

.container-fluid {
  padding: 7% 0;
}

#feature-section {
  padding: 5 10%;
  position: relative;
  z-index: 1;
}

.feature-icons {
  color: #3F72AF;
  padding-bottom: 5%;
}

.feature-icons:hover {
  color: #112D4E;
}

.feature-box {
  text-align: center;
  padding: 7%;
}

.fields {
  margin: 0 20%;
}

.footer-text {
  margin: 0;
}

.home-button {
  margin: 5% 0 0 0;
}

.marker-text {
  color:black;
}

.NavLogo {
  width: 20%;
  position: absolute;
  left: 0%;
  top: 0%;
}

.row {
  margin: 0;
  padding: 5% 5% 0 5%;
}

.school-section {
  padding: 7% 0 0 0;
}

.site-logo {
  width: 100%;
  position: relative;
  top:-10%;
}

.social-icon {
  margin: 2% 1% 2%;

}

#title-section {
  background-color:#3F72AF;
  padding: 0 0 0% 0;
}

.survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.option {
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.browse-text {
  color: black;
}


